'atom-workspace':
  'f10'     : 'project-list:toggle'
  'ctrl-f10': 'project-list:edit'
  'alt-f10' : 'project-list:recent'

'.project-list atom-text-editor[mini]':
  'enter'      : 'select-list:open'
  'alt-enter'  : 'select-list:swap'
  'ctrl-enter' : 'select-list:switch'
  'shift-enter': 'select-list:append'
  'alt-v'      : 'select-list:paste'
  'f5'         : 'select-list:update'
