@import "ui-variables";
@import "../node_modules/pulsar-select-list/select.less";

.project-list .tag {
  color: @ui-site-color-1;
}

.project-list .square {
  color: @ui-site-color-2;
}

.project-list .secondary-line {
  display: block !important;
}
